@page "{categoryId}"
@model Restaurant.Pages.Food.DeleteCategoryModel
@{
    ViewData["Title"] = "DeleteCategory";
}

<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Category.CategoryName?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger"> Yes!</button>
    <a asp-page="Categories" class="btn btn-default">Cancel</a>
</form>