@page "{categoryId:int?}"
@model Restaurant.Pages.Food.EditCategoryModel
@{
    ViewData["Title"] = "EditCategory";
}

@if (Model.Category.CategoryId > 0)
{
    <h1>Edit @Model.Category.CategoryName</h1>
}
else
{
    <h1>Add New Category</h1>
}
<form method="post">
    <input type="hidden" asp-for="Category.CategoryId" />
    <div class="form-group">
        <label asp-for="Category.CategoryName"></label>
        <input asp-for="Category.CategoryName" class="form-control" />
        <span class="text-danger" asp-validation-for="Category.CategoryName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category.SellingTime"></label>
        <input asp-for="Category.SellingTime" class="form-control" />
        <span class="text-danger" asp-validation-for="Category.SellingTime"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

